doctype html
html
    head
        meta(charset='UTF-8')
        title Angular2 Seed
        base(href='/')
        script(src="https://jspm.io/system@0.16.js")
    body
        layout loading...
        script(src='vendor.bundle.js')
        script(src='bundle.js')
